.magic-table-header {
  &__cell {
    border: 2px solid var(--disabled);

    &-content {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 3px;
      padding: 10px;
      user-select: none;
      cursor: pointer;
    }
  }

  &__arrowhead {
    position: absolute;
    width: 15px;
    height: 15px;
    display: none;
    top: 27px;
    fill: var(--primary);
    transform: rotate(0deg);

    &-asc, &-desc {
      display: block;
    }

    &-desc {
      transform: rotate(180deg);
    }
  }

  &__checkbox {
    padding: 7px 12px;
  }
}
