@mixin custom-scroll {
  scrollbar-width: 8px;
  scrollbar-color: var(--disabled) var(--gray);

  &::-webkit-scrollbar,
  &::-webkit-scrollbar-thumb {
    width: 8px;
    height: 8px;
    background-clip: padding-box;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-track {
    width: 8px;
    height: 8px;
    background: var(--gray);
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--disabled);
  }
}

@mixin keyframesRotation {
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
} 
