.layout-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  .Toastify {
    font-size: 15px;
  }
  
  &__header {
    box-sizing: border-box;
    min-width: 320px;
    z-index: var(--z-index--xxxl);
  }

  &__content {
    min-width: 320px;
    min-height: calc(100lvh - 50px);
    background-image: url('../../../shared/assets/images/homeBg.jpg');
    background-attachment: fixed;
    background-size: cover;
  }

  &__footer {
    flex: none;
    min-width: 320px;
    box-sizing: border-box;
    z-index: var(--z-index--xxl);
  }
}

@media screen and (max-width: 768px) {
  .layout-page {
    &__header {
      position: fixed;
      z-index: var(--z-index--xxxl);
      width: 100vw;
    }
    
    &__content {
      padding-top: 50px;
    }
  }
}
