.layout-page {
  overflow: auto;

  &__content {
    box-sizing: border-box;
    height: calc(100dvh - 50px);
    padding: 20px 10px;
  }

  .Toastify {
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  .layout-page {
    &__header {
      position: fixed;
      z-index: var(--z-index--xxxl);
      width: 100vw;
      margin-bottom: 50px;
    }
  }
}
