.ml-table-body {
  &__row {
    &:hover, &-active {
      background-color: var(--primary--lighter);
    }
  }

  &__cell {
    border: 2px solid var(--disabled);
    
    &-content {
      padding: 7px 10px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 3px;
    }
  }

  &__checkbox {
    padding: 7px 12px;
  }
}
