@mixin custom-scroll {
  @media screen and (min-width: 769px) {    
    &::-webkit-scrollbar,
    &::-webkit-scrollbar-thumb {
      width: 8px;
      border-radius: 2px;
      background: var(--gray--dark);
    }
  
    &::-webkit-scrollbar-track {
      background: var(--gray);
    }
  }
}

@mixin keyframesRotation {
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
}

@mixin keyframesScale {
  @keyframes scaleIn {
    0% {
      scale: 0;
    }
    100% {
      scale: 1;
    }
  }

  @keyframes scaleOut {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
}

@mixin keyframesOpacity {
  @keyframes opacityIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes opacityOut {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }
}


@mixin resetButton {
  border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
}
