:root {
  --primary: #41B84D;
  --primary--slightly: #62C66C;
  --primary--light: #84CF8D;
  --primary--lighter: #CCF2D0;

  --primary--black: #000000;
  --primary--white: #FFFFFF;

  --gray: #F6F6F6;
  --gray--dark: #CFCFCF;

  --disabled: #B0B0B0;
  --disabled--light: #EDECEC;
  --disabled--dark: #828282;

  --danger: #FF1818;

  --blue--light: #229ED9;

  --z-index--xxxs: 100;
  --z-index--xxs: 200;
  --z-index--xs: 300;
  --z-index--m: 400;
  --z-index--l: 500;
  --z-index--xl: 600;
  --z-index--xxl: 700;
  --z-index--xxxl: 800;
};
