.ml-table-body {
  &__row {
    transition: background-color 0.1s ease-in-out;

    &:nth-of-type(even) {
      background-color: var(--gray);
    }
  }

  &__row.ml-table-body__row-active {
    background-color: var(--primary--lighter);
  }

  &__cell {
    padding: 10px 12px;
    border-right: 1px solid var(--disabled);
    
    &-content {
      text-align: center;
      position: relative;
    }
  }

  &__checkbox {
    width: 22px;
    padding: 10px 12px;
    background-color: var(--primary--lighter);
  }

  &:has(.ml-table-body__empty) {
    display: flex;
    width: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: calc(100% - 39px);
    background-color: var(--gray);
  }

  &__empty {
    font-size: 24px;
  }

  @media (hover: hover) {
    &__row:not(:has(.ml-table-body__checkbox:hover)) {
      &:hover {
        background-color: var(--primary--lighter);
      }
    }
  }
}
