.login-form {
  &__submit {
    margin-top: 10px;
    width: 100%;
    max-width: 100%;

    &-loading {
      .ml-button {
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none;
        padding: 0px;
      }
    }

    .ml-button {
      height: 40px;
    }
  }
}
