.layout-page {
  overflow: auto;
}

@media screen and (max-width: 768px) {
  .layout-page {
    &__navigation {
      position: fixed;
      z-index: var(--z-index--xxxl);
      width: 100vw;
      margin-bottom: 50px;
    }

    &__content {
      margin-top: 50px;
    }
  }
}
