.layout-page {
  overflow: auto;

  &__content {
    height: calc(100vh - 50px);
  }
}

@media screen and (max-width: 768px) {
  .layout-page {
    &__header {
      position: fixed;
      z-index: var(--z-index--xxxl);
      width: 100vw;
      margin-bottom: 50px;
    }

    &__content {
      margin-top: 50px;
    }
  }
}
