.magic-navbar {
  display: flex;
  box-sizing: border-box;

  &:last-child {
    padding-right: 50px;
    gap: 10px
  }

  &__block {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    min-height: 50px;
    background: linear-gradient(90deg, rgba(204,242,208,1) 0%, rgba(132,207,141,1) 40%, rgba(65,184,77,1) 70%);
    box-shadow: 0px 8px 8px -8px rgba(34, 60, 80, 0.2);

  }

  &__logo {
    font-size: 20px;
    padding-left: 30px;
    color: var(--primary);
    text-decoration: none;

    span {
      font-weight: bolder;
    }

    &:hover {
      color: var(--primary--light);
    }

    &:active {
      color: var(--primary);
    }
  }

  &__item {
    font-size: 16px;
    padding: 5px;
    background-color: var(--primary--light);
    border-radius: 4px;
    text-decoration: none;
    color: var(--primary--white);

    &:hover {
      background-color: var(--primary)
    }

    &:active {
      background-color: var(--primary--light)
    }
  }

}