.header-menu-group {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  z-index: var(--z-index--xxxl);

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .ml-navbar-item {
      width: 100%;
    }

    &_item {
      height: 35px;
      text-decoration: none;
      color: var(--primary--black);

      &-active {
        background-color: var(--disabled--light);
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: center;
  }

  @media (hover: hover) {
    &_body {
      &_item-active {
        &:hover {
          background-color: var(--disabled--light);
        }
      }
    }
  }
}
