.ml-table-header {
  top: 0px;
  position: sticky;
  z-index: var(--z-index--xxxs);
  box-shadow: 0px 2px 7px 0px rgba(34, 60, 80, 0.2);

  &__cell {
    padding: 10px 12px;
    background-color: var(--primary--light);

    &-content {
      margin: 0 auto;
      position: relative;
      max-width: max-content;
      user-select: none;
      color: var(--primary--white);
      font-weight: 600;
      cursor: pointer;
    }
  }

  &__arrowhead {
    position: absolute;
    width: 18px;
    height: 18px;
    display: none;
    top: 1px;
    left: 101%;
    fill: var(--primary--white);
    transform: rotate(0deg);

    &-asc, &-desc {
      display: block;
    }

    &-desc {
      transform: rotate(180deg);
    }
  }

  &__checkbox {
    width: 22px;
    padding: 10px 12px;
    background-color: var(--primary--light);
  }
}
