@import '~mixins';

.ml-selector-menu {
  position: absolute;
  box-sizing: border-box;
  z-index: var(--z-index--xxs);
  width: 100%;
  margin-top: 8px;
  padding: 10px 0px;
  box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.1);
  border: 1px solid var(--gray--dark);
  background-color: var(--primary--white);
  border-radius: 4px;

  &__top-placement {
    bottom: 100%;
    margin-top: 0px;
    margin-bottom: 8px;
  }

  &__list {
    overflow: auto;
    max-height: 210px;

    @include custom-scroll;
  }
  &__list-item {
    padding: 8px 10px;
  }
  
  &__list-active {
    background-color: var(--primary);
    color: var(--primary--white);

    &:hover {
      background-color: var(--primary);
    }
  }

  &__list-empty {
    text-align: center;
    color: var(--primary--light)
  }

  @media (hover: hover) {
    &__list-item {
      &:hover {
        background-color: var(--primary--lighter);
        cursor: pointer;
      }
    }
  }
}
