.magic-navbar {
  display: flex;
  box-sizing: border-box;

  &__block {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 10px 0px 10px;
    z-index: var(--z-index--xxxs);
    background-color: var(--disabled--light);
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);

  }

  &__side {
    &-left {
      padding-left: 15px;
    }

    &-right {
      justify-content: flex-end;
      gap: 10px;
      padding-right: 25px;
    }
  }

  &__logo {
    text-decoration: none;
  }

  &__item {
    text-decoration: none;
    color: var(--primary--black);
    font-weight: 400;
    font-size: 18px;

    &:hover, &-location {
      text-decoration: underline;
      text-decoration-color: var(--primary);
      text-underline-offset: 2px;
      text-decoration-thickness: 2px;
    }
  }
}
