@import '~mixins';

.home-page-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  .ml-button {
    height: 45px;
    font-size: 20px;
    font-weight: 500;
  
    &__block {
      max-width: 250px;
    }
  }

  &__logo {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    gap: 10px;
    padding: 20px;
    animation-name: scaleIn, rotateIn;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    animation-delay: .2s ;
    transform: rotate(15deg);
    margin: 0px 0px 30px 50px;
    animation-fill-mode: backwards;
    z-index: var(--z-index--xs);
    
    &,&-back {
      box-sizing: border-box;
      width: 130px;
      height: 145px;
      border-radius: 40px;
      border: 8px solid var(--primary);
      background-color: var(--primary--white);
    }

    &-back {
      position: absolute;
      transform: rotateZ(-200deg) translate(-15px, 90px);
      animation-name: scaleIn, opacityIn;
      animation-duration: 1s;
      animation-timing-function: ease-in;
      animation-delay: .2s;
      animation-fill-mode: backwards;
      border-color: var(--primary--lighter);
      z-index: var(--z-index--xxs);
    }

    &-item {
      height: 10px;
      border-radius: 25px;
    };

    &-item:first-child {
      width: 100%;
      animation: slideLeft .8s ease-in;
      animation-delay: .2s;
      animation-fill-mode: backwards;
      background-color: var(--primary);
    }

    &-item:last-child {
      width: 60%;
      animation: slideRight .8s ease-in;
      animation-delay: .2s;
      animation-fill-mode: backwards;
      background-color: var(--primary--lighter);
    }
  }

  &__slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 300px;

    &-item {
      font-size: 30px;
      font-weight: 500;
      align-self: center;
      color: var(--primary--slightly);
      animation: slideTop .6s ease-in;
      animation-delay: .6s;
      animation-fill-mode: backwards;
    }

    &-item:first-child {
      animation-delay: .4s;
    }

    &-item:last-child {
      animation-delay: .8s;
    }
  }

  @keyframes rotateIn {
    0% {
      transform: rotate(0deg);
      
    }
    100% {
      transform: rotateZ(15deg);
    }
  }
  
  @keyframes slideLeft {
    0% {
      opacity: 0;
      transform: translate(100px, 0);
    }
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  
  @keyframes slideRight {
    0% {
      opacity: 0;
      transform: translate(-100px, 0);
    }
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  @keyframes slideTop {
    0% {
      opacity: 0;
      transform: translate(0, 200px);
    }
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  @include keyframesOpacity;
  @include keyframesScale;
}
